
<% if @tweaze_on > @today %>

 
<script type="text/javascript">

window.onload = function(){

    // open a file when window loads
    Shadowbox.open({
        content:    "<%= @link_url%>",
        player:     "<%=@link_type%>",
        title:      "Sliver: <%=@sliver.title%>"
    });

};
</script>




<div style="margin-top:200px">
  <h1>Thanks for Using Sliver!</h1>
<a style="font-size:24px;" href='<%=@sliver.long_url%>' rel="shadowbox" title='<%=@sliver.title%>'>http://<%=request.domain+'/'+@sliver.mini_key%></a> </p>
<%else%>

       <p style="font-size:24px;"> I'm sorry, it seems your sliver has expired</p>
    Tweazed on: <%=@sliver.tweaze_date%>
 <%end%>

 
 </div>



<%=@tweaze%>